
body {
  color: #393630;
  background-color: #FBFCFF;
  font-size: 16px;
  padding: 1%;
}

nav {
  /*top gray section*/
  background-color: #274156;
  float: left;
  width: 100%;
}

.logo {
  /*bloc logo*/
  margin: 20px;
  float: left;
}

a {
  /*contact alumni courses*/
  float: right;
  padding: 42px;
  text-decoration: none;
  color: #299FCB;
  text-align: center;
  font-size: 120%;
}

a:hover {background-color: #D0CCD0;}
a:visited {color: #299FCB;}
a:active {color: #FBFCFF;}


.medium-pic, figcaption {
  /*center pic*/
  background: #fff url(http://www.imageurl.com) no-repeat top center;
  padding-top: 1%;
  }

  figcaption{
    padding-bottom: 1%;
    width: 30%;
      font-style: italic;
  }

  h1 {
    /*contact row*/
    font-size: 2em; /* 32px */
    background-color: #D0CCD0;
    line-height: normal;
    padding-top: .5%;
    padding-bottom: .2%;
    width: 100%;
    text-align:center;
  }

  h3 {
    font-size: 1.5em; /* 32px */
    background-color:  #D0CCD0;
    line-height: normal;
    padding-bottom: .2%;
    font-style: italic;
    width: 100%;
    text-align:center;
  }

.author {
  text-align:center;
  background-color:  #D0CCD0;
  padding-bottom: .5%;
}

.story-text {
  /*text body*/
  padding-top: 1%;
  font-size: 100%; /* 16px */
  text-align:left;
  width: 100%
}

.author{
  padding-top: .2%
}

.story-text p {
  margin-bottom: .5%;
    line-height: 75%;
    line-height: 110%;
    width: 100%;
