
body {
  background-color: #FFFAF7;
  color: #262524;
  font-size: 16px;
}

nav {
  /*top gray section*/
  background-color: gray;
  float: left;
  width: 100%;
}

.logo {
  /*bloc logo*/
  margin: 20px;
  float: left;
}

.medium-pic {
  /*center pic*/
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  }

  figcaption{
    font-size: 90%;
    font-style: italic;

  }

  h1 {
    /*contact row*/
    font-size: 2em; /* 32px */
    line-height: normal;
padding-top: 2%;
    width: 100%;
    float: center;
  }

  h3 {
    font-size: 1em; /* 32px */
    line-height: normal;
    font-style: italic;
    width: 100%;
    float: center;
  }

  a {
    /*contact alumni courses*/
    float: right;
    padding: 30px;
    text-decoration: none;
    color: #0099CC;
  }

  a:hover {color: #3399CC;}
  a:visited {color: #0066CC;}
  a:active {color: #0099FF;}


p {
  /*text body*/
  font-size: 110%; /* 16px */
  text-align:left;
  width: 80%
}

.container {
 line-height: 150%;
 width: 100%;
padding: 1.5rem;
margin: 2%;
background: white;
}

.author{
  line-height: 100%;
  width: 100%;
 background: white;
 padding-top: .2%
}

.story-text {
  line-height: 150%;
  width: 100%;
 padding: 3%;
 background: white;
}

.story-text p {
  margin-bottom: 2%; /* or whatever value you like */
}
